device-storage/deviceStorageJDBC/src/test/resources/dataSet.dtd

<!ELEMENT dataset (
    STORAGE*,
    TOORDER*)>

<!ELEMENT STORAGE EMPTY>
<!ATTLIST STORAGE
    ID_POSITION CDATA #REQUIRED
    NAME CDATA #IMPLIED
    AMOUNT CDATA #IMPLIED
    MARGIN CDATA #IMPLIED
>

<!ELEMENT TOORDER EMPTY>
<!ATTLIST TOORDER
    ID_ORDER CDATA #REQUIRED
    ID_STORAGE CDATA #IMPLIED
    AMOUNT_TO_ORDER CDATA #IMPLIED
    PRICE CDATA #IMPLIED
>

